.container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

span{
    font-style: italic;
}

.form{
    padding-left: 1vw;
    padding-top: 10vw;
}

.text1{
    font-weight: 600;
    font-size: 1.5rem;
    font-family: roboto;
    width: 650px;
    line-height: 0.7cm;
}

.side{
    flex: 1;
}

.form{
    flex: 1;
}

.background{
    position: relative;
    height: 100vh;
    width: 45vw;
}

.bar{
    position: absolute;
    height: 12vh;
    width: 45vw;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
    top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-cont{
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    flex: 1;
}

.logo{
    height: 90%;
    z-index: 2;
}

.side-text {
    font-family: monomakh;
    font-size: 4rem;
    z-index: 2; 
    color: white;
    flex: 1;
}